@model Game
@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/Sudoku.js"></script>
</head>
<body>
    <table class="table">
        @for (var row = 0; row < 9; row++)
        {
            var rowClass = "center";
            switch (row)
            {
                case 0:
                case 3:
                case 6:
                    rowClass = "top";
                    break;
                case 2:
                case 5:
                case 8:
                    rowClass = "bottom";
                    break;
            }
            <tr class="@rowClass game">
                @for (var column = 0; column < 9; column++)
                        {
                            var cellClass = "center";
                            switch (column)
                            {
                                case 0:
                                case 3:
                                case 6:
                                    cellClass = "start";
                                    break;
                                case 2:
                                case 5:
                                case 8:
                                    cellClass = "end";
                                    break;
                            }
                            var box = Model.Boxes.Single(b => b.Row == row && b.Column == column);
                            var guess = box.Guess.ToString();
                            var guessClass = "preset";
                            if (guess == "0")
                            {
                                guess = "";
                                guessClass = "";
                            }
                    <td class="game-cell @cellClass @guessClass row-@row  column-@column" id="box-@row-@column">
                        @if (box.Guess > 0)
                        {
                            <input id="square-@row-@column" class="guess" style="background-color: lightgray;" disabled type="number" value="@box.Guess" />
                        }
                        else
                        {
                            var index = 1;
                            <table class="pencil">
                                @for (var r = 0; r < 3; r++)
                                {
                                    <tr class="pencil" style="padding: 0;">
                                        @for (var c = 0; c < 3; c++)
                                        {
                                            <td class="pencil">
                                                <button id="p-@row-@column-@index" class="btn" onclick="togglePencilMark(this, @index);">_</button>
                                            </td>
                                            index++;
                                        }
                                    </tr>

                                }
                            </table>
                            <input id="square-@row-@column" class="guess" type="number" value=" " 
                                   oninput="saveGuess(@row, @column, this);" onfocus="setSquare(@row, @column);"/>
                        }
                    </td>
                }
            </tr>
        }
    </table>
<button id="pencil-toggle-button" class="toggle-pencil btn btn-danger" onclick="togglePencilMode(this);">
    Pencil Toggle
</button>
</body>
</html>