@model Settings
@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <title>Sudoku</title>

    @if (Model.DarkMode)
    {
        <link rel="stylesheet" href="~/css/dark.css" />
    }
    else
    {
        <link rel="stylesheet" href="~/css/site.css" />
    }
    <script src="~/js/Sudoku.js"></script>
</head>
<body>
    <table class="table">
        @for (var row = 0; row < 9; row++)
        {
            var rowClass = "center";
            switch (row)
            {
                case 0:
                case 3:
                case 6:
                    rowClass = "top";
                    break;
                case 2:
                case 5:
                case 8:
                    rowClass = "bottom";
                    break;
            }
            <tr class="@rowClass game">
                @for (var column = 0; column < 9; column++)
                        {
                            var cellClass = "center";
                            switch (column)
                            {
                                case 0:
                                case 3:
                                case 6:
                                    cellClass = "start";
                                    break;
                                case 2:
                                case 5:
                                case 8:
                                    cellClass = "end";
                                    break;
                            }
                            var box = Model.SavedGame.Boxes.Single(b => b.Row == row && b.Column == column);
                            var guess = box.Guess.ToString();
                            var guessClass = "preset";
                            if (guess == "0")
                            {
                                guess = "";
                                guessClass = "";
                            }
                    <td class="game-cell @cellClass @guessClass row-@row  column-@column" id="box-@row-@column">
                        @if (box.Guess > 0)
                        {
                            <button id="square-@row-@column" class="guess clue" style="background-color: lightgray;">
                                @box.Guess
                            </button>
                            <input class="answer" id="answer-@row-@column" value="@box.Answer" type="hidden" />
                        }
                        else
                        {
                            var index = 1;
                            <input class="answer" id="answer-@row-@column" value="@box.Answer" type="hidden"/>
                            <table class="pencil">
                                @for (var r = 0; r < 3; r++)
                                {
                                    <tr class="pencil" style="padding: 0;">
                                        @for (var c = 0; c < 3; c++)
                                        {
                                            <td class="pencil">
                                                <button id="p-@row-@column-@index" class="btn" onclick="togglePencilMark(this, @index);"></button>
                                            </td>
                                            index++;
                                        }
                                    </tr>

                                }
                            </table>
                            <button id="square-@row-@column" class="guess"
                                    onfocus="setSquare(@row, @column);">

                            </button>
                        }
                    </td>
                }
            </tr>
        }
    </table>
    <div style="display: flex; flex-direction: row;">
        <button id="pencil-toggle-button" class="toggle-pencil" onclick="togglePencilMode(this);">
            Pencil Toggle [space]
        </button>
        <div style="flex: 1 0 auto;"></div>
        <a id="dark-mode-button" class="toggle-pencil" asp-action="ToggleDarkMode">Dark/Light</a>
        <div style="flex: 1 0 auto;"></div>
        <button id="check-answer-button" class="toggle-pencil" onclick="checkAnswers();">
            Check Puzzle
        </button>
    </div>
</body>
</html>